<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers</title>
    <!-- Link to compiled Tailwind CSS file -->
    <link rel="stylesheet" href="/output.css">
</head>
<body class="body-container">
    <header>
        <h1 class="h1">F1 Drivers Overview</h1>
    </header>
    <p>Welcome to the F1 Drivers page. Explore the drivers and their details here.</p>
    <main class="main-container">
        <!-- Table to display driver statistics -->
        <table class="table-container">
            <thead>
                <tr> 
                    <!-- Table headers -->
                    <th class="list-header">Position</th>
                    <th class="list-header">Driver</th>
                    <th class="list-header">Wins</th>
                    <th class="list-header">Win Percentage</th>
                    <th class="list-header">DNFs</th>
                    <th class="list-header">Points</th>
                    <th class="list-header">Points per Race</th>
                    <th class="list-header">Average Race Position</th>
                    <th class="list-header">Fastest Laps</th>
                    <th class="list-header">Podiums</th>
                    <th class="list-header">Poles</th>
                    <th class="list-header">Average Qualy Position</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through each driver to display statistics for each driver -->
                <% drivers.forEach(driver => { %>
                <tr class="m-4">
                    <!-- Table entries -->
                    <td class="list-item-centered"><%= driver.standing %></td>
                    <td class="list-item-centered"><%= driver.name %></td>
                    <td class="list-item-centered"><%= driver.wins != null ? driver.wins : 0 %></td>
                    <td class="list-item-centered"><%= driver.winPercentage %></td>
                    <td class="list-item-centered"><%= driver.dnfs %></td>
                    <td class="list-item-centered"><%= driver.points %></td>
                    <td class="list-item-centered"><%= driver.pointsPerRace %></td>
                    <td class="list-item-centered"><%= driver.avgRacePosition %></td>
                    <td class="list-item-centered"><%= driver.fastestLaps %></td>
                    <td class="list-item-centered"><%= driver.podiums%></td>
                    <td class="list-item-centered"><%= driver.poles%></td>
                    <td class="list-item-centered"><%= driver.avgQualyPosition%></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </main>
    <!-- Link to compiled Tailwind CSS file -->
    <!-- Navigation buttons -->
    <div class="flex gap-20">
        <form action="/">
            <button class="button-primary">Home</button>
        </form>
        <form action="/drivers">
            <button class="button-primary">Drivers Overview</button>
        </form>
    </div>
    <footer>
        <p>&copy; <%= new Date().getFullYear() %> F1 Overview</p>
    </footer>
</body>
</html>