<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
    <!-- Link to compiled Tailwind CSS file -->
    <link rel="stylesheet" href="output.css">
</head>
<body class="body-container">
    <header>
        <h1 class="h1">F1 Teams Overview</h1>
    </header>
    <main class="main-container">
        <p>Welcome to the F1 Teams page. Explore the teams and their details here.</p>
        <!-- Table to display team statistics -->
        <table class="table-container">
            <thead>
                <tr>
                    <!-- Table headers -->
                    <th class="list-header">Position</th>
                    <th class="list-header">Team</th>
                    <th class="list-header">Wins</th>
                    <th class="list-header">DNFs</th>
                    <th class="list-header">Points</th>
                    <th class="list-header">Points per Race</th>
                    <th class="list-header">Fastest Laps</th>
                    <th class="list-header">Podiums</th>
                    <th class="list-header">Poles</th>
                    <th class="list-header">Championships</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through each team to display statistics for each team -->
                <% teams.forEach(team => { %>
                <tr>
                    <!-- Table entries -->
                    <td class="list-item-centered"><%= team.standing %></td>
                    <td class="list-item-centered"><%= team.name %></td>
                    <td class="list-item-centered"><%= team.wins != null ? team.wins : 0 %></td>
                    <td class="list-item-centered"><%= team.dnfs %></td>
                    <td class="list-item-centered"><%= team.points %></td>
                    <td class="list-item-centered"><%= team.pointsPerRace %></td>
                    <td class="list-item-centered"><%= team.fastestLaps %></td>
                    <td class="list-item-centered"><%= team.podiums%></td>
                    <td class="list-item-centered"><%= team.poles%></td>
                    <td class="list-item-centered"><%= team.championships != null ? team.championships : 0%></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <!-- Navigation buttons -->
        <div class="flex gap-20">
            <form action="/">
                <button class="button-primary">Home</button>
            </form>
            <form action="/drivers">
                <button class="button-primary">Drivers Overview</button>
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; <%= new Date().getFullYear() %> F1 Overview</p>
    </footer>
</body>
</html>